<div id="pwa-tooltip" class="d-none p-2 pwa-tooltip">
  <div class="pwa-tooltip-icon">
    {{{inlineSvg 'info.svg'}}}
  </div>
  <div class="pwa-tooltip-message">You can now install BXIndustry verticals to your iPhone! Tap {{{inlineSvg 'share.svg'}}} and select Add To Homescreen.</div>
  <button id="pwa-tooltip-dismiss" class="bxi-button bxi-button--link mx-3">Dismiss</button>
</div>
<script type="module" src="/js/pwa.js"></script>